# CI workflow files (selene)
/roblox.yml

# Build Files
/Hyperion_**.rbxm
/Hyperion_**.rbxmx
/Hyperion_**.rbxl
/Hyperion_**.rbxlx
/Hyperion.rbxm
/Hyperion.rbxmx
/Hyperion.rbxl
/Hyperion.rbxlx
/sourcemap.json